# Ignore everything by default
/*

# Keep source/project content
!/docs/
!/docs/**

!/src/
!/src/**

!/notebooks/
!/notebooks/**

!/tests/
!/tests/**

!/presentation/
!/presentation/**

!/tools/
!/tools/**

# Keep repository/configuration files
!/.github/
!/.github/**

!/.gitignore
!/README.md
!/LICENSE
!/requirements.txt
!/requirements-docs.txt
!/pytest.ini
!/mkdocs.yml